.leaflet-container {
  width: 90%;
  height: 50vh;
  margin: auto;
}

.line {
  margin-top: 10px;
  width: 70vh;
  border: none;
  border-top: 2px solid #000;
}

.error {
  color: red;
  font-weight: bolder;
}

nav{
  background-color: rgb(15, 81, 15);
  height:30px;
  display: flex;
  align-items: center;
  color: white;
}

nav>a, .navright>a{
  color: white;
  text-decoration: none;
  padding: 1rem;
}
.navright{
  margin-left: auto;
  margin-right:15px;
}
.dropdown{
  position: relative;
  display: inline-block;
  padding: 10px 0px;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: rgb(207, 248, 207, 0.8);
  min-width: 120%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001;
  top: 35px;
}
.dropdown-content>div{
  padding: 2px 3px;
}
.dropdown-content>div>a{
  color: black;
  text-decoration: none;
}
.dropdown-content>div>a:hover{
  text-decoration: underline;
}
.dropdown:hover .dropdown-content{
  display: block;
}


body{
  margin:0;
}